<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>CyberPunk 2077</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>



<body>

<IMG SRC="https://media.tenor.com/sgVTmEeu-hgAAAAC/wake-up-samurai-keanu-reeves.gif">

<h1>Wake up, Samurai! We have a city to burn</h1>
<br/>
<p>Cyberpunk 2077 is an open-world, action-adventure story set in Night City, a megalopolis obsessed with power, glamour and body modification.
<p>You play as V, a mercenary outlaw going after a one-of-a-kind implant that is the key to immortality.
<p>You can customize your character’s cyberware, skillset and playstyle, and explore a vast city where the choices you make shape the story and the world around you.
<br/>
<a href="/2077?parameter=Stranger">Check out the art...</a>
<br/>
<h3>Written by Denis Ryzhchenko, group 124-19-2</h3>
</body>
</html>
